.RainfallTab {
  background: var(--white-color);
  height: calc(100% - 2rem);
  display: flex;
  padding: 1rem;
}

.RainfallLeft {
  flex: 25%;
  padding: 0.5rem;
}

.RainfallLeft img {
  display: block;
  margin: auto;
}

.RainfallRight {
  flex: 75%;
  padding: 0.5rem;
}
