.alarmsTable {
  position: relative;
  bottom: 0;
  display: table;
  width: calc(100% - 1rem);
  font-size: 70%;
  font-weight: semibold;
  border-collapse: collapse;
  cursor: pointer;
  margin: 0.5rem;
}

.tr {
  display: table-row;
  height: 3rem;
}

.td_warning {
  color: black;
  font-weight: bold;
}

.tr_major {
  background: var(--trigger-major-table);
}

.tr_moderate {
  background: var(--trigger-moderate-table);
}

.tr_minor {
  background: var(--trigger-minor-table);
}

.tr_highlight {
  border: solid black 2px;
  border-collapse: collapse;
}

.thtd {
  display: table-cell;
  font-weight: bold;
  text-align: center;
  padding: 0.2rem;
}

.tdLeft {
  display: table-cell;
  text-align: left;
  padding: 0.2rem;
  vertical-align: middle;
}

.tdRight {
  display: table-cell;
  text-align: right;
  padding: 0.2rem;
  vertical-align: middle;
}

.tdCenter {
  display: table-cell;
  text-align: center;
  padding: 0.2rem;
  vertical-align: middle;
}
