.alarmsTable {
  position: relative;
  bottom: 0;
  display: table;
  width: 100%;
  font-size: 70%;
  font-weight: semibold;
}

.tr {
  display: table-row;
  height: 3rem;
}

.tr_major {
  background: var(--trigger-major);
}

.tr_moderate {
  background: var(--trigger-moderate);
}

.tr_minor {
  background: var(--trigger-minor);
}

.tr_highlight {
  font-weight: bold;
}

.thtd {
  display: table-cell;
  font-weight: bold;
  text-align: center;
  padding: 0.2rem;
}

.tdLeft {
  display: table-cell;
  text-align: left;
  padding: 0.2rem;
  vertical-align: middle;
}

.tdRight {
  display: table-cell;
  text-align: right;
  padding: 0.2rem;
  vertical-align: middle;
}

.tdCenter {
  display: table-cell;
  text-align: center;
  padding: 0.2rem;
  vertical-align: middle;
}
