div.Tabs {
  width: calc(100% - 2*var(--tabs-margin));
  background: var(--primary-color);
  height: calc(100vh - var(--header-height) - 2*var(--tabs-margin));
  margin: var(--tabs-margin);
  overflow: none;
}

div.TabContent {
  width: 100%;
  background: var(--white-color);
  color: var(--primary-color);
  height: calc(100% - 3rem);
  overflow: auto;
}
