.TileList {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Tile {
  background: var(--white-color);
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  overflow: none;
}

.TileSmall {
  flex: none;
  margin: 1rem;
  width: var(--square-tile-size);
  height: var(--square-tile-size);
}

.TileLarge {
  flex-basis: auto;
  flex-grow: 1;
  margin: 1rem;
  width: 40%;
}

.TileFull {
  position: relative;
  width: calc(100% - 1rem);
  height: calc(100% - 2px);
  margin: auto;
}

.TileHalfHeight {
  position: relative;
  width: calc(100% - 1rem);
  height: calc(50% - 1rem);
}

.TileHalfHeight + .TileHalfHeight {
  margin-top: 2rem;
}

.Title {
  background: var(--secondary-color);
  color: var(--white-color);
  font-size: 75%;
  height: 1rem;
  padding: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LizardIcon {
  float: right;
  cursor: pointer;
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.X {
  float: right;
  font-weight: bold;
  cursor: pointer;
  font-size: 150%;
  vertical-align: top;
  margin-top: -0.25rem;
}

.X:hover {
  background: var(--primary-color);
}

.RightText {
  float: right;
}

.Content {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 2.5rem);
  overflow: hidden;
  bottom: 0;
}

.TileOverlay {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background: white;
  border: solid black 1px;
  margin: 0;
  overflow: hidden;
  z-index: 1000;
  width: 100%;
  transition: height 0.2s;
}
