body {
  margin: 0;
  font-family: 'Semibold Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS variables */

:root {
  --header-height: 3rem;
  --primary-color: #002B49;
  --secondary-color: #00477A;
  --white-color: #f9f9f9;
}

/* Style to make body 100% height */
html,
body,
#root,
#root > div {
  height: 100vh;
  margin: 0;

  background: var(--primary-color);
  color: var(--white-color);
}
