body {
  margin: 0;
  font-family: 'Parramatta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS variables */

:root {
  --header-height: 3rem;
  --tabs-margin: 1rem;
  --square-tile-size: 18rem;
  --sidebar-left: 20rem;
  --primary-color: #002B49;
  --secondary-color: #00477A;
  --white-color: #f9f9f9;

  --trigger-major-table: #ECCBCB;
  --trigger-major: #f44;
  --trigger-moderate-table: #ffd2a1;
  --trigger-moderate: #ffa544;
  --trigger-minor-table: #ffffa1;
  --trigger-minor: #ff4;
  --trigger-none: #777;
}

/* Style to make body 100% height */
html,
body,
#root {
  height: 100vh;
  margin: 0;

  background: var(--primary-color);
  color: var(--white-color);
}


/* For scaling, other sizes are all in rem */

@media only screen and (max-width: 1229px) {
  html {
    font-size: 14px;
  }
}

@media only screen and and (max-width: 1499) and (min-width: 1230px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1774px) and (min-width: 1500px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (max-width: 2049px) and (min-width: 1775px) {
  html {
    font-size: 22px;
  }
}

@media only screen and (min-width: 2050px) {
  html {
    font-size: 24px;
  }
}
